#banner {
    font-family: 'Montserrat', sans-serif;
}

body {
background-image: linear-gradient(to bottom right, #0cebeb, #20e3b2, #29ffc6);
background-size: cover;
background-repeat: no-repeat; 
padding-top: 70px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 40px;

    i.fas,
    i.fab {
      border: 1px solid red;
    }